In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [2]:
item = pd.read_excel('Assignment-6.xls')
user = pd.read_excel('Assignment-6.xls', sheetname='Users')

In [3]:
item = item.drop(1, axis=0)

In [4]:
item.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,NaN,Weight,203.615022,121.021257,102.797882,96.830823,85.133738,82.763808,79.835000,77.666420,74.607018,73.109410,69.096560,68.136588,66.480305,64.513088,63.569436
2,11,Star Wars: Episode IV - A New Hope (1977),-0.106651,-0.094401,0.199949,0.025196,-0.064437,0.276259,-0.206928,0.054093,-0.025950,-0.088964,-0.117164,0.104474,0.049532,0.140639,-0.031206
3,12,Finding Nemo (2003),-0.023980,-0.026960,-0.038067,0.248296,-0.118894,-0.068092,0.064117,0.037390,-0.082457,0.037841,-0.067603,-0.017252,-0.069223,0.063107,0.159913
4,13,Forrest Gump (1994),-0.157042,-0.039889,-0.224400,0.062452,0.098026,0.078255,-0.047104,0.147743,-0.100540,-0.018727,0.076231,0.016129,-0.040507,-0.275025,-0.052564
5,14,American Beauty (1999),-0.044468,0.198715,-0.006577,0.008760,0.056093,-0.020370,-0.046150,0.007244,0.008791,-0.067562,0.063375,-0.177547,-0.100531,0.068353,-0.085437

In [13]:
user[user['User'] == 4469]

,User,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
8,4469,-0.002139,-0.001049,-0.004224,-0.001461,0.003396,0.001352,-0.000004,-0.001165,-0.000785,-0.002333,-0.001737,0.001324,0.002993,0.000662,-0.001001

In [58]:
mm = []
for i in range(2, item.shape[0] + 1):
    summ = 0.0
    for j in range(0, 15):
        tmp = float(user[user['User'] == 4469][1+j]) * float(item[3+j][i]) * float(item[3+j][0])
        summ += tmp
    mm.append((float(summ), int(item[1][i])))

In [60]:
mm.sort(reverse=True)

In [61]:
mm

[(0.20767971108623426, 278),
 (0.18328561173816088, 453),
 (0.1736114839274811, 98),
 (0.17217960701329643, 238),
 (0.1707442935170453, 13),
 (0.15858945230947022, 424),
 (0.15478599053855305, 197),
 (0.14557683890981707, 155),
 (0.14043305623401078, 597),
 (0.12219156998210408, 857),
 (0.10909540822266749, 1422),
 (0.09600382594658505, 550),
 (0.08733538111254445, 640),
 (0.08542113095738879, 274),
 (0.07353497716918021, 8358),
 (0.07251301533626141, 272),
 (0.0658113582292267, 2024),
 (0.06504894802788827, 1894),
 (0.06051124047925628, 807),
 (0.06015853686359816, 2501),
 (0.05818517690453273, 2502),
 (0.05670794628885661, 8587),
 (0.051692762348765346, 745),
 (0.05167940757106855, 581),
 (0.04844849806105375, 680),
 (0.041188587548414216, 122),
 (0.03858908757767805, 161),
 (0.03771256148763022, 629),
 (0.034110181949079374, 77),
 (0.03354000885463927, 11),
 (0.03226387651676011, 752),
 (0.02991458402601721, 603),
 (0.02497506668142874, 121),
 (0.02189263114599971, 120),
 (0.02045300421308187, 1892),
 (0.019269700170511814, 107),
 (0.016964806237456324, 8467),
 (0.015519761496818118, 641),
 (0.010935657033179929, 114),
 (0.008821500877830287, 462),
 (0.00853405414222911, 1891),
 (0.001370654740547583, 9802),
 (0.0005712405397565613, 5503),
 (-0.0008697682783472332, 568),
 (-0.0011054382951239288, 1597),
 (-0.0024904242804151136, 3049),
 (-0.004360785530291595, 38),
 (-0.0052074288120341865, 604),
 (-0.005870891639455743, 602),
 (-0.0071543079783533345, 22),
 (-0.008202275708103515, 1900),
 (-0.015182451121203224, 14),
 (-0.017815683780814516, 141),
 (-0.018854483918825136, 788),
 (-0.02075421084984948, 9331),
 (-0.02276192322212657, 954),
 (-0.025226340473387128, 414),
 (-0.02709955127237746, 268),
 (-0.02920925576735749, 329),
 (-0.030085478141234835, 2164),
 (-0.030332192555639632, 275),
 (-0.030868305386678053, 1637),
 (-0.03227237983060184, 9741),
 (-0.03287799320044516, 63),
 (-0.03590247677460486, 955),
 (-0.03653629809243303, 194),
 (-0.03820115961585556, 180),
 (-0.038597376324310165, 134),
 (-0.04059573692172396, 243),
 (-0.04180390161022111, 153),
 (-0.04233874247363448, 664),
 (-0.04350990526078895, 812),
 (-0.04527201636141311, 786),
 (-0.04625288337985552, 10020),
 (-0.04634237980443991, 280),
 (-0.046761754647647785, 1572),
 (-0.04709292761451055, 601),
 (-0.052109164741421174, 36657),
 (-0.05413076667853415, 187),
 (-0.054850385966458255, 85),
 (-0.05745827955870073, 36658),
 (-0.06035974176686495, 105),
 (-0.06645858304594594, 12),
 (-0.0691655990614939, 672),
 (-0.07531483861385313, 854),
 (-0.07623206501946891, 36955),
 (-0.07651986059814518, 146),
 (-0.0850703907137908, 671),
 (-0.09254058977056584, 7443),
 (-0.09763721606825847, 808),
 (-0.10099013028748738, 557),
 (-0.1010593398398596, 809),
 (-0.10116581340435779, 862),
 (-0.10404299157953098, 393),
 (-0.11352610567467564, 24),
 (-0.11493159360158596, 585),
 (-0.12234066319211218, 558),
 (-0.13143513556484668, 9806),
 (-0.14272376085535052, 607),
 (-0.19998004948669418, 4327)]